$black-color: #2D2D2D;
$gray-color: #9F9F9F;
$white-color: #FFFFFF;
$light-gray: #F6F9FA;

$very-light-blue-color: #DDEDF4;
$light-blue-color: #3CB2E4;
$light-blue-color-background-opacity: 0.1;

$button-text-green: #30D869;
$button-text-orange: #E4783C;

$button-background-light-blue: #EBF7FC;
$button-background-light-green: #EBFCEC;
$button-background-light-orange: #FAEEE8;


  
