@use "./variables";
@use "./utils";

.App {
  min-height: 100vh;
  min-width: 100vw;
  @include utils.flex-row;
  justify-content: center;
  background: variables.$very-light-blue-color;
  @include utils.baseFont;
}
