@use "normalize";
@use "variables";

@font-face {
  font-family: "PoppinsRegular";
  font-style: normal;
  src: url("./assets/fonts/poppins/Poppins-Regular.ttf");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'PoppinsRegular',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
